/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap");

/* 
===============
Variables
===============
*/
:root {
  --clr-primaryColor: #f15025;
  --clr-mainBlack: #222;
  --clr-mainWhite: #fff;
  --clr-offWhite: #f7f7f7;
  --clr-darkGrey: #afafaf;
  --transition: all 0.2s linear;
  --spacing: 0.2rem;
}
/* 
===============
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-offWhite);
  color: --clr-mainBlack;
  line-height: 1.5;
  font-family: "Fira Code", monospace;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--clr-primaryColor);
  color: var(--clr-primaryColor);
  margin: 3rem;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-primaryColor);
  color: var(--clr-offWhite);
}
/* 
===============
Main Navbar
===============
*/
.main-navbar {
  background: var(--clr-darkGrey);
  padding: 0 2rem;
}
.main-navbar li {
  list-style-type: none;
}
.main-navbar a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--clr-primaryColor);
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.main-navbar a:hover {
  color: var(--clr-mainBlack);
}
@media screen and (min-width: 992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar a {
    text-align: center;
  }
}
/* 
===============
Hero
===============
*/
.hero-header {
  min-height: 100vh;
  background: var(--clr-primaryColor);
  color: var(--clr-mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
}
.hero-banner p {
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.75)),
      url("./images/image-2.jpeg") center/cover no-repeat fixed;
  }
}
/* 
===============
Cards
===============
*/
.title {
  text-align: center;
}
.cards {
  padding: 4rem 0;
}
.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card {
  border: 1px solid var(--clr-darkGrey);
  margin-bottom: 3rem;
}
.card-info {
  padding: 1rem;
}
.card-footer {
  background: var(--clr-darkGrey);
  padding: 0.5 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.card-footer span {
  color: var(--clr-primaryColor);
}
/* @media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
} */
/* 
1rem = 16px
max-width = 1170px
total gaps in 3 column layout = 2 * 2rem = 64px
1170 - 64 = 1106
1106 / 3 = 368.6667
*/
.cards-center {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
}

/* 
4 col layout
(1170 - 96) / 4 = 268.5
*/
.cards-center {
  grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}
